.practice2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 500px;
  min-height: 240px;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #2c2c2c;
  overflow: scroll;
}

h4 {
  margin-top: calc(0.3vw + 6px);
  font-size: calc(0.4vw + 5px);
  color: #1b1b1b;
}
h5 {
  margin-top: calc(0.6vw + 6px);
  font-size: calc(1.3vw + 5px);
}
h6 {
  margin-top: calc(0.8vw + 6px);
  font-size: calc(0.8vw + 5px);
}

/* 화면1 */
.location1-container {
  position: absolute;
  display: block;
  /* background-color: #f5d7ee; */
  width: 100vw;
  height: 800px;
  top: 10%;
  left: 0;
  overflow: hidden;
}
.location1-container input {
  display: none;
}

.background-red {
  position: absolute;
  display: none;
  background-color: #ff0000;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

/* 중앙 피사체 */
.location1-runner-box {
  position: absolute;
  display: block;
  /* background: url('img/penguin.png') center center / 100% no-repeat; */
  width: 200px;
  height: 200px;
  bottom: 70px;
  left: calc(48vw - 60px);
  z-index: 5;
}
.location1-runner-box img {
  -webkit-user-drag: none;
}
/* 슬라이드 전체 */
.location1-slide {
  position: absolute;
  display: block;
  background-color: #fff2fc;
  width: 700vw;
  height: 800px;
  top: 0;
  left: 0;
}

/* 슬라이드 장식물 */
.location1-slide-ground {
  position: absolute;
  display: block;
  /* background: url('img/iceground1.png'); */
  background-image: url('img/iceground1.png');
  width: 700vw;
  height: 200px;
  top: 600px;
  left: 0;
  transition: 3s;
  z-index: 3;
}
#slide-btn3:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}
#slide-btn3-1:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}
#slide-btn3-2:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}
#slide-btn3-3:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}
#slide-btn3-4:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}
#slide-btn3-5:checked ~ .location1-slide .location1-slide-ground {
  filter: grayscale(60%);
}

.location1-slide-sun {
  position: absolute;
  display: block;
  background: url('img/sun.png') center center / 100% no-repeat;
  width: 200px;
  height: 200px;
  top: 80px;
  left: 7vw;
  transition: 3s;
  z-index: 0;
  animation: sundeg 60s linear infinite;
}
#slide-btn2:checked ~ .location1-slide .location1-slide-sun {
  left: 195vw;
}
#slide-btn2-1:checked ~ .location1-slide .location1-slide-sun {
  left: 195vw;
}
#slide-btn2-2:checked ~ .location1-slide .location1-slide-sun {
  left: 195vw;
}
#slide-btn2-3:checked ~ .location1-slide .location1-slide-sun {
  left: 195vw;
}
#slide-btn2-4:checked ~ .location1-slide .location1-slide-sun {
  left: 195vw;
}
.location1-slide-sun2 {
  position: absolute;
  display: block;
  background: url('img/sun.png') center center / 100% no-repeat;
  width: 200px;
  height: 200px;
  top: 80px;
  left: 690vw;
  transition: 3s;
  z-index: 0;
  animation: sundeg 60s linear infinite;
}
#slide-btn3-2:checked ~ .location1-slide .location1-slide-sun2 {
  left: 620vw;
}
#slide-btn3-4:checked ~ .location1-slide .location1-slide-sun2 {
  left: 620vw;
}
#slide-btn3-5:checked ~ .location1-slide .location1-slide-sun2 {
  left: 620vw;
}
@keyframes sundeg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.location1-slide-cloud1 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 30vw;
  animation: cloud1 150s infinite linear;
  z-index: 1;
}
@keyframes cloud1 {
  0% {
  }
  13% {
    opacity: 100%;
    translate: -50vw;
  }
  14% {
    opacity: 0;
    translate: -50vw;
  }
  15% {
    opacity: 0;
    translate: 340vw;
  }
  20% {
    opacity: 100%;
    translate: 320vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud2 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 300px;
  height: 300px;
  bottom: 80px;
  left: 80vw;
  z-index: 5;
  animation: cloud2 100s infinite linear;
}
@keyframes cloud2 {
  0% {
  }
  25% {
    opacity: 100%;
    translate: -100vw;
  }
  26% {
    opacity: 0;
    translate: -100vw;
  }
  27% {
    opacity: 0;
    translate: 292vw;
  }
  30% {
    opacity: 100%;
    translate: 280vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud3 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 160px;
  height: 160px;
  top: 190px;
  left: 120vw;
  animation: cloud3 140s infinite linear;
  z-index: 5;
}
@keyframes cloud3 {
  0% {
  }
  35% {
    opacity: 100%;
    translate: -140vw;
  }
  36% {
    opacity: 0;
    translate: -140vw;
  }
  37% {
    opacity: 0;
    translate: 252vw;
  }
  40% {
    opacity: 100%;
    translate: 240vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud4 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 180px;
  height: 180px;
  top: 160px;
  left: 200vw;
  animation: cloud4 140s infinite linear;
  z-index: 5;
}
@keyframes cloud4 {
  0% {
  }
  55% {
    opacity: 100%;
    translate: -220vw;
  }
  56% {
    opacity: 0;
    translate: -220vw;
  }
  57% {
    opacity: 0;
    translate: 172vw;
  }
  60% {
    opacity: 100%;
    translate: 160vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud5 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 110px;
  height: 110px;
  top: 80px;
  left: 280vw;
  animation: cloud5 210s infinite linear;
  z-index: 1;
}
@keyframes cloud5 {
  0% {
  }
  75% {
    opacity: 100%;
    translate: -300vw;
  }
  76% {
    opacity: 0;
    translate: -300vw;
  }
  77% {
    opacity: 0;
    translate: 92vw;
  }
  80% {
    opacity: 100%;
    translate: 80vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud6 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 220px;
  height: 220px;
  top: 280px;
  left: 320vw;
  animation: cloud6 130s infinite linear;
  z-index: 2;
}
@keyframes cloud6 {
  0% {
  }
  85% {
    opacity: 100%;
    translate: -340vw;
  }
  86% {
    opacity: 0;
    translate: -340vw;
  }
  87% {
    opacity: 0;
    translate: 52vw;
  }
  90% {
    opacity: 100%;
    translate: 40vw;
  }
  100% {
    translate: 0;
  }
}

.location1-slide-cloud7 {
  position: absolute;
  display: block;
  background: url('img/cloud1.png') center center / 100% no-repeat;
  width: 150px;
  height: 150px;
  top: 210px;
  left: 370vw;
  animation: cloud7 140s infinite linear;
  z-index: 5;
}
@keyframes cloud7 {
  0% {
  }
  97% {
    opacity: 100%;
    translate: -390vw;
  }
  97.5% {
    opacity: 0;
    translate: -390vw;
  }
  98% {
    opacity: 0;
    translate: -8vw;
  }
  100% {
    opacity: 100%;
    translate: 0vw;
  }
}

/* 1페이지 장식 */
.location1-slide-iceberg1 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 800px;
  height: 600px;
  bottom: 00px;
  left: 9vw;
  z-index: 1;
}
.location1-slide-iceberg2 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 200px;
  height: 150px;
  bottom: 170px;
  left: 8vw;
  z-index: 2;
}
.location1-slide-iceberg3 {
  position: absolute;
  display: none;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 1200px;
  height: 900px;
  bottom: -100px;
  left: 80vw;
  transition: 3s;
  z-index: 6;
}
#slide-btn1:checked ~ .location1-slide-iceberg3 {
  display: block;
}
#slide-btn1-2:checked ~ .location1-slide-iceberg3 {
  display: block;
}
#slide-btn1-3:checked ~ .location1-slide-iceberg3 {
  display: block;
}
#slide-btn2:checked ~ .location1-slide-iceberg3 {
  display: block;
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn2-1:checked ~ .location1-slide-iceberg3 {
  display: block;
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn2-2:checked ~ .location1-slide-iceberg3 {
  display: block;
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn2-3:checked ~ .location1-slide-iceberg3 {
  display: block;
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn2-4:checked ~ .location1-slide-iceberg3 {
  display: block;
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3-1:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3-2:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3-3:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3-4:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn3-5:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
#slide-btn4:checked ~ .location1-slide-iceberg3 {
  transform: translate(-200vw);
  transition: 3s;
}
.location1-slide-iceberg4 {
  position: absolute;
  display: block;
  background: url('img/iceberg2.png') center center / 100% no-repeat;
  width: 600px;
  height: 400px;
  bottom: 65px;
  left: 145vw;
  z-index: 3;
}
.location1-slide-eskimo {
  position: absolute;
  display: block;
  background: url('img/eskimo.png') center center / 100% no-repeat;
  width: 200px;
  height: 300px;
  bottom: 147px;
  left: 168vw;
  z-index: 4;
}


/* 2페이지 장식 */
.location1-slide-igloo {
  position: absolute;
  display: block;
  background: url('img/igloo.png') center center / 100% no-repeat;
  width: 300px;
  height: 300px;
  bottom: 170px;
  left: 210vw;
  z-index: 4;
}
.location1-slide-sign {
  position: absolute;
  display: block;
  background: url('img/sign.png') center center / 100% no-repeat;
  width: 120px;
  height: 150px;
  bottom: 170px;
  left: 206vw;
  z-index: 4;
}
.location1-slide-killerwhale {
  position: absolute;
  display: block;
  background: url('img/killerwhale.png') center center / 100% no-repeat;
  width: 1000px;
  height: 1000px;
  bottom: -750px;
  left: 267vw;
  animation: killerwhale 4s ease infinite;
  transition: 1.2s;
  z-index: 2;
}
@keyframes killerwhale {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
#slide-btn2:checked ~ .location1-slide .location1-slide-killerwhale {
  transition-delay: 2.4s;
  bottom: -350px;
}
.location1-slide-wave1 {
  position: absolute;
  display: block;
  background: url('img/wave1.png') center center / 100% no-repeat;
  width: 550px;
  height: 450px;
  bottom: -300px;
  left: 258vw;
  z-index: 1;
}
#slide-btn2:checked ~ .location1-slide .location1-slide-wave1 {
  animation: wavecrush1 3s 2.8s ease;
}
@keyframes wavecrush1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-50px, -370px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
.location1-slide-wave2 {
  position: absolute;
  display: block;
  background: url('img/wave1.png') center center / 100% no-repeat;
  width: 450px;
  height: 380px;
  bottom: -300px;
  left: 279vw;
  z-index: 2;
}
#slide-btn2:checked ~ .location1-slide .location1-slide-wave2 {
  animation: wavecrush2 3s 2.8s ease;
}
@keyframes wavecrush2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(50px, -370px);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

.location1-slide-iceberg5 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 600px;
  height: 450px;
  bottom: 70px;
  left: 288vw;
  z-index: 2;
}
.location1-slide-iceberg6 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 1200px;
  height: 900px;
  bottom: 0px;
  left: 260vw;
  z-index: 1;
}
.location1-slide-iceberg7 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  filter: grayscale(40%);
  width: 400px;
  height: 300px;
  bottom: 50px;
  left: 357vw;
  z-index: 1;
}
.location1-slide-seal {
  position: absolute;
  display: block;
  background: url('img/seal.png') center center / 100% no-repeat;
  width: 300px;
  height: 300px;
  bottom: 123px;
  left: 375vw;
  z-index: 4;
}


/* 3페이지 장식 */
.location1-slide-iceberg8 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  filter: grayscale(80%);
  width: 600px;
  height: 450px;
  bottom: -30px;
  left: 395vw;
  z-index: 1;
}
.location1-slide-iceberg9 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  filter: grayscale(60%);
  width: 800px;
  height: 600px;
  bottom: 0px;
  left: 400vw;
  z-index: 2;
}
.location1-slide-iceberg10 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  filter: grayscale(60%);
  width: 510px;
  height: 340px;
  bottom: 80px;
  left: 483vw;
  z-index: 2;
}
.location1-slide-dolphin1 {
  position: absolute;
  display: block;
  /* background-color: #292b31; */
  background: url('img/dolphin.png') top center / 100% no-repeat;
  filter:opacity(60%) drop-shadow(0 0 0 rgb(0, 0, 0));
  width: 180px;
  height: 800px;
  bottom: -450px;
  left: 437vw;
  animation: dolphin 4s linear infinite;
  z-index: 2;
}
.location1-slide-dolphin2 {
  position: absolute;
  display: block;
  /* background-color: #292b31; */
  background: url('img/dolphin.png') top center / 100% no-repeat;
  filter:opacity(60%) drop-shadow(0 0 0 rgb(0, 0, 0));
  width: 160px;
  height: 700px;
  bottom: -330px;
  left: 449vw;
  animation: dolphin 4s 0.4s linear infinite;
  z-index: 2;
}
.location1-slide-dolphin3 {
  position: absolute;
  display: block;
  /* background-color: #292b31; */
  background: url('img/dolphin.png') top center / 100% no-repeat;
  filter:opacity(60%) drop-shadow(0 0 0 rgb(0, 0, 0));
  width: 220px;
  height: 800px;
  bottom: -450px;
  left: 461vw;
  animation: dolphin 4s 2s linear infinite;
  z-index: 2;
}
@keyframes dolphin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}

.location1-slide-polarbear {
  position: absolute;
  display: block;
  background: url('img/polarbear.png') center center / 100% no-repeat;
  width: 500px;
  height: 500px;
  bottom: 115px;
  left: 475vw;
  z-index: 4;
}
.location1-slide-polarbearattack {
  position: absolute;
  display: block;
  background: url('img/polarbearattack.png') center center / 100% no-repeat;
  width: 600px;
  height: 600px;
  bottom: 65px;
  left: 470vw;
  opacity: 0%;
  z-index: 4;
}
.location1-slide-star1 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 20px;
  height: 20px;
  top: 150px;
  left: 406vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star2 {
  position: absolute;
  display: block;
  background: url('img/star1.png') center center / 100% no-repeat;
  width: 27px;
  height: 27px;
  top: 40px;
  left: 412vw;
  animation: starfall 2.8s ease;
  filter: brightness(2);
  z-index: 0;
}
.location1-slide-star3 {
  position: absolute;
  display: block;
  background: url('img/star3.png') center center / 100% no-repeat;
  width: 15px;
  height: 15px;
  top: 220px;
  left: 414vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star4 {
  position: absolute;
  display: block;
  background: url('img/star1.png') center center / 100% no-repeat;
  width: 15px;
  height: 15px;
  top: 110px;
  left: 428vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star5 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 438vw;
  animation: starfall 2.8s ease;
  filter: brightness(2);
  z-index: 0;
}
.location1-slide-star6 {
  position: absolute;
  display: block;
  background: url('img/star3.png') center center / 100% no-repeat;
  width: 15px;
  height: 15px;
  top: 180px;
  left: 447vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star7 {
  position: absolute;
  display: block;
  background: url('img/star3.png') center center / 100% no-repeat;
  width: 8px;
  height: 8px;
  top: 160px;
  left: 454vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star8 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 15px;
  height: 15px;
  top: 168px;
  left: 455vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star9 {
  position: absolute;
  display: block;
  background: url('img/star3.png') center center / 100% no-repeat;
  width: 6px;
  height: 6px;
  top: 179px;
  left: 456.2vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star10 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 13px;
  height: 13px;
  top: 133px;
  left: 461vw;
  animation: starfall 2.8s ease;
  filter: brightness(2);
  z-index: 0;
}
.location1-slide-star11 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 21px;
  height: 21px;
  top: 70px;
  left: 470vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star12 {
  position: absolute;
  display: block;
  background: url('img/star1.png') center center / 100% no-repeat;
  width: 13px;
  height: 13px;
  top: 140px;
  left: 469vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star13 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 7px;
  height: 7px;
  top: 240px;
  left: 475vw;
  animation: starfall 2.8s ease;
  filter: brightness(2);
  z-index: 0;
}
.location1-slide-star14 {
  position: absolute;
  display: block;
  background: url('img/star3.png') center center / 100% no-repeat;
  width: 19px;
  height: 19px;
  top: 40px;
  left: 477vw;
  animation: starfall 2.8s ease;
  filter: brightness(2);
  z-index: 0;
}
.location1-slide-star15 {
  position: absolute;
  display: block;
  background: url('img/star1.png') center center / 100% no-repeat;
  width: 10px;
  height: 10px;
  top: 210px;
  left: 479vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star16 {
  position: absolute;
  display: block;
  background: url('img/star1.png') center center / 100% no-repeat;
  width: 31px;
  height: 31px;
  top: 90px;
  left: 489vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star17 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 11px;
  height: 11px;
  top: 170px;
  left: 495vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star18 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 7px;
  height: 7px;
  top: 90px;
  left: 427vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
.location1-slide-star19 {
  position: absolute;
  display: block;
  background: url('img/star2.png') center center / 100% no-repeat;
  width: 7px;
  height: 7px;
  top: 20px;
  left: 450vw;
  animation: starfall 2.8s ease;
  z-index: 0;
}
@keyframes starfall {
  0% {
  }
  30% {
    transform: translateY(40px);
    opacity: 1%;
  }
  100% {
    transform: translateY(40px);
    opacity: 0%;
  }
}
#slide-btn2:checked ~ .location1-slide #location1-slide-stars {
  translate: -90vw;
  transition: 4s;
}
#slide-btn2-3:checked ~ .location1-slide #location1-slide-stars {
  translate: -90vw;
  transition: 4s;
}
#slide-btn2-4:checked ~ .location1-slide #location1-slide-stars {
  translate: -90vw;
  transition: 4s;
}
#slide-btn3:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn3-1:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn3-2:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn3-3:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn3-4:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn3-5:checked ~ .location1-slide #location1-slide-stars {
  animation: starrise 4.2s ease;
}
#slide-btn4:checked ~ .location1-slide #location1-slide-stars {
  translate: 90vw;
  transition: 4s;
}
@keyframes starrise {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }
  60% {
    transform: translateY(30px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}


/* 4페이지 장식 */
.location1-slide-penguin2 {
  position: absolute;
  display: block;
  background: url('img/penguin2.png') center center / 100% no-repeat;
  width: 190px;
  height: 250px;
  bottom: 175px;
  left: 663vw;
  z-index: 4;
}
.location1-slide-penguin3 {
  position: absolute;
  display: block;
  background: url('img/penguin3.png') center center / 100% no-repeat;
  width: 170px;
  height: 230px;
  bottom: 170px;
  left: 667vw;
  z-index: 4;
}
.location1-slide-greeting1 {
  position: absolute;
  display: block;
  background: url('img/greeting1.png') center center / 100% no-repeat;
  width: 300px;
  height: 230px;
  bottom: 320px;
  left: 665vw;
  z-index: 4;
  opacity: 0;
}
.location1-slide-greeting2 {
  position: absolute;
  display: block;
  background: url('img/greeting2.png') center center / 100% no-repeat;
  width: 300px;
  height: 230px;
  bottom: 330px;
  left: 664vw;
  z-index: 4;
  opacity: 0;
}
@keyframes greetinghide1 {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 100%;
  }
  29% {
    opacity: 0%;
  }
  49% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  77% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes greetinghide2 {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  26% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  54% {
    opacity: 0%;
  }
  74% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
  96% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.location1-slide-iceberg11 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 690px;
  height: 460px;
  bottom: 120px;
  left: 670vw;
  z-index: 1;
}
.location1-slide-iceberg12 {
  position: absolute;
  display: block;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 450px;
  height: 300px;
  bottom: 120px;
  left: 685vw;
  z-index: 2;
}
.location1-slide-iceberg13 {
  position: absolute;
  display: none;
  background: url('img/iceberg1.png') center center / 100% no-repeat;
  width: 600px;
  height: 400px;
  bottom: -10px;
  left: 210vw;
  transition: 3.5s;
  z-index: 6;
}
#slide-btn4:checked ~ .location1-slide-iceberg13 {
  display: block;
  left: 10vw;
}
#slide-btn4:checked ~ .location1-slide-iceberg13 {
  display: block;
  left: 10vw;
}
#slide-btn4:checked ~ .location1-slide-iceberg13 {
  display: block;
  left: 10vw;
}
#slide-btn3-2:checked ~ .location1-slide-iceberg13 {
  display: block;
  transition: 3s;
}
#slide-btn3-4:checked ~ .location1-slide-iceberg13 {
  display: block;
  transition: 3s;
}
#slide-btn3-5:checked ~ .location1-slide-iceberg13 {
  display: block;
  transition: 3s;
}


/* 방향 표시 버튼 */
.location1-slide .left {
  position: absolute;
  display: block;
  background: url('img/left.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  left: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}
.location1-slide .right {
  position: absolute;
  display: block;
  background: url('img/right.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  right: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}

.location1-slide .left-2 {
  position: absolute;
  display: none;
  background: url('img/left.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  left: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}
.location1-slide .right-2 {
  position: absolute;
  display: none;
  background: url('img/right.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  right: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}

.location1-slide .left-3 {
  position: absolute;
  display: none;
  background: url('img/left.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  left: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}
.location1-slide .right-3 {
  position: absolute;
  display: none;
  background: url('img/right.jpg') center center / 100% no-repeat;
  width: 100px;
  height: 100px;
  top: 400px;
  right: calc(42vw - 50px);
  cursor: pointer;
  z-index: 6;
}


.location1-slide1-box {
  position: absolute;
  display: block;
  /* background-color: rgb(37, 238, 80); */
  width: 100vw;
  height: 300px;
  top: 100px;
  left: 0;
}
.location1-slide2-box {
  position: absolute;
  display: block;
  /* background-color: rgb(211, 41, 41); */
  width: 100vw;
  height: 300px;
  top: 100px;
  left: 200vw
}
.location1-slide3-box {
  position: absolute;
  display: block;
  /* background-color: rgb(35, 35, 245); */
  width: 100vw;
  height: 300px;
  top: 100px;
  left: 400vw;
}
.location1-slide4-box {
  position: absolute;
  display: block;
  /* background-color: rgb(245, 241, 35); */
  width: 100vw;
  height: 300px;
  top: 100px;
  left: 600vw;
}


/* 대답 버튼 */
.answer-1 {
  position: absolute;
  display: block;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(8vw + 60px);
  height: 70px;
  top: 320px;
  left: calc(43vw - 90px);
  opacity: 70%;
  text-align: center;
  cursor: pointer;
  z-index: 6;
}
.answer-2 {
  position: absolute;
  display: block;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(8vw + 60px);
  height: 70px;
  top: 320px;
  right: calc(43vw - 90px);
  opacity: 70%;
  text-align: center;
  cursor: pointer;
  z-index: 6;
}
.answer-3 {
  position: absolute;
  display: block;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(8vw + 60px);
  height: 70px;
  top: 320px;
  left: calc(43vw - 90px);
  opacity: 70%;
  text-align: center;
  cursor: pointer;
  z-index: 6;
}
.answer-4 {
  position: absolute;
  display: block;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(8vw + 60px);
  height: 70px;
  top: 320px;
  right: calc(43vw - 90px);
  opacity: 70%;
  text-align: center;
  cursor: pointer;
  z-index: 6;
}


/* 오브젝트 대답 */
.answer-whale1 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 100px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}
.answer-whale2 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 100px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}
.answer-bear1 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 100px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}
.answer-bear2 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 120px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}
.answer-bear3 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 100px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}
.answer-bear4 {
  position: absolute;
  display: none;
  background-color: #faffff;
  border-radius: 10px;
  width: calc(10vw + 100px);
  height: 100px;
  top: 100px;
  right: calc(23vw - 90px);
  opacity: 90%;
  text-align: center;
  z-index: 6;
}


/* 체크박스 슬라이드 효과 */
#slide-btn1:checked ~ .location1-slide {
  transform: translate(0vw);
  background-color: #fff2fc;
  transition: 3s;
}
#slide-btn1-2:checked ~ .location1-slide {
  transform: translate(0vw);
  background-color: #fff2fc;
  transition: 3s;
}
#slide-btn1-3:checked ~ .location1-slide {
  transform: translate(0vw);
  background-color: #fff2fc;
  transition: 3s;
}
#slide-btn2:checked ~ .location1-slide {
  transform: translate(-200vw);
  background-color: #ccffe1;
  transition: 3s;
}
#slide-btn2-1:checked ~ .location1-slide {
  transform: translate(-200vw);
  background-color: #ccffe1;
  transition: 3s;
}
#slide-btn2-2:checked ~ .location1-slide {
  transform: translate(-200vw);
  background-color: #ccffe1;
  transition: 3s;
}
#slide-btn2-3:checked ~ .location1-slide {
  transform: translate(-200vw);
  background-color: #ccffe1;
  transition: 3s;
}
#slide-btn2-4:checked ~ .location1-slide {
  transform: translate(-200vw);
  background-color: #ccffe1;
  transition: 3s;
}
#slide-btn3:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn3-1:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn3-2:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn3-3:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn3-4:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn3-5:checked ~ .location1-slide {
  transform: translate(-400vw);
  background-color: #292b31;
  transition: 3s;
}
#slide-btn4:checked ~ .location1-slide {
  transform: translate(-600vw);
  background-color: #fff2d6;
  transition: 3.5s;
}


/* 체크박스 오브젝트 효과 */
#slide-btn1:checked ~ .location1-slide label {
  animation: arrowshow 3.5s ease;
}


#slide-btn1-2:checked ~ .location1-slide label {
  animation: arrowshow 3.5s ease;
}
#slide-btn1-2:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn1-2:checked ~ .location1-slide .right-2 {
  display: block;
}


#slide-btn1-3:checked ~ .location1-slide label {
  animation: arrowshow 3.5s ease;
}
#slide-btn1-3:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn1-3:checked ~ .location1-slide .right-3 {
  display: block;
}


#slide-btn2:checked ~ .location1-slide .left {
  animation: arrowshow2 3.5s ease;
}
#slide-btn2:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn2:checked ~ .location1-slide #runner-answer {
  animation: answershow 5.5s ease;
}
#slide-btn2:checked ~ .location1-slide #runner-answer:hover {
  opacity: 100%;
}


#slide-btn2-1:checked ~ .location1-slide .answer-1 {
  animation: answerhide1 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn2-1:checked ~ .location1-slide .answer-whale1 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn2-1:checked ~ .location1-slide .location1-slide-killerwhale {
  transition-delay: 5s;
  left: 248vw;
  bottom: -420px;
}
#slide-btn2-1:checked ~ .background-red {
  animation: arrowshow 6.7s ease;
  display: block;
}
#slide-btn2-1:checked ~ .location1-slide .answer-2 {
  display: none;
}
#slide-btn2-1:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn2-1:checked ~ .location1-slide .right {
  display: none;
}


#slide-btn2-2:checked ~ .location1-slide .answer-2 {
  animation: answerhide2 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn2-2:checked ~ .location1-slide .answer-whale2 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn2-2:checked ~ .location1-slide .location1-slide-killerwhale {
  bottom: -350px;
}
#slide-btn2-2:checked ~ .location1-slide .answer-1 {
  display: none;
}
#slide-btn2-2:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn2-2:checked ~ .location1-slide .left-2 {
  display: block;
}
#slide-btn2-2:checked ~ .location1-slide .right {
  animation: arrowshow2 6s ease;
  display: block;
}


#slide-btn2-3:checked ~ .location1-slide label {
  animation: arrowshow2 3.5s ease;
}
#slide-btn2-3:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn2-3:checked ~ .location1-slide .right {
  display: block;
}
#slide-btn2-3:checked ~ .location1-slide .left-2 {
  display: block;
}
#slide-btn2-3:checked ~ .location1-slide .right-2 {
  display: none;
}
#slide-btn2-3:checked ~ .location1-slide #runner-answer {
  display: none;
}


#slide-btn2-4:checked ~ .location1-slide label {
  animation: arrowshow2 3.5s ease;
}
#slide-btn2-4:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn2-4:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn2-4:checked ~ .location1-slide .left-3 {
  display: block;
}
#slide-btn2-4:checked ~ .location1-slide .right-2 {
  animation: arrowshow2 3.5s ease;
  display: block;
}
#slide-btn2-4:checked ~ .location1-slide #runner-answer {
  display: none;
}


#slide-btn3:checked ~ .location1-slide label {
  animation: arrowshow 3.5s ease;
}
#slide-btn3:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn3:checked ~ .location1-slide #runner-answer {
  animation: answershow 5.5s ease;
}
#slide-btn3:checked ~ .location1-slide #runner-answer-2 {
  display: none;
}
#slide-btn3:checked ~ .location1-slide #runner-answer:hover {
  opacity: 100%;
}


#slide-btn3-1:checked ~ .location1-slide .answer-1 {
  animation: answerhide1 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn3-1:checked ~ .location1-slide .answer-bear1 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn3-1:checked ~ .location1-slide .answer-2 {
  display: none;
}
#slide-btn3-1:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn3-1:checked ~ .location1-slide #runner-answer-2 {
  animation: answershow 8.5s ease;
}
#slide-btn3-1:checked ~ .location1-slide #runner-answer-2:hover {
  opacity: 100%;
}


#slide-btn3-2:checked ~ .location1-slide .answer-2 {
  animation: answerhide2 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn3-2:checked ~ .location1-slide .answer-bear2 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn3-2:checked ~ .location1-slide .answer-1 {
  display: none;
}
#slide-btn3-2:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn3-2:checked ~ .location1-slide .left-2 {
  display: block;
}
#slide-btn3-2:checked ~ .location1-slide .right {
  animation: arrowshow2 6s ease;
  display: block;
}
#slide-btn3-2:checked ~ .location1-slide #runner-answer-2 {
  display: none;
}


#slide-btn3-3:checked ~ .location1-slide .answer-3 {
  animation: answerhide1 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn3-3:checked ~ .location1-slide .answer-bear3 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn3-3:checked ~ .location1-slide .answer-4 {
  display: none;
}
#slide-btn3-3:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn3-3:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn3-3:checked ~ .location1-slide #runner-answer {
  display: none;
}
#slide-btn3-3:checked ~ .location1-slide .location1-slide-polarbear {
  animation: polarbearhide 10s ease;
}
#slide-btn3-3:checked ~ .location1-slide .location1-slide-polarbearattack {
  animation: polarbearshow 10s ease;
}
#slide-btn3-3:checked ~ .background-red {
  animation: arrowshow 6.7s ease;
  display: block;
}




#slide-btn3-4:checked ~ .location1-slide .answer-4 {
  animation: answerhide2 4s ease;
  transition-delay: 4s;
  top: -300px;
  opacity: 0;
  cursor: default;
}
#slide-btn3-4:checked ~ .location1-slide .answer-bear4 {
  animation: answershow 4s ease;
  display: block;
}
#slide-btn3-4:checked ~ .location1-slide .answer-3 {
  display: none;
}
#slide-btn3-4:checked ~ .location1-slide .right {
  animation: arrowshow2 6s ease;
  display: block;
}
#slide-btn3-4:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn3-4:checked ~ .location1-slide .left-2 {
  display: block;
}
#slide-btn3-4:checked ~ .location1-slide #runner-answer {
  display: none;
}


#slide-btn3-5:checked ~ .location1-slide label {
  animation: arrowshow2 3.5s ease;
}
#slide-btn3-5:checked ~ .location1-slide .left {
  display: none;
}
#slide-btn3-5:checked ~ .location1-slide .right {
  display: block;
}
#slide-btn3-5:checked ~ .location1-slide .left-2 {
  display: block;
}
#slide-btn3-5:checked ~ .location1-slide #runner-answer {
  display: none;
}
#slide-btn3-5:checked ~ .location1-slide #runner-answer-2 {
  display: none;
}


#slide-btn4:checked ~ .location1-slide label {
  animation: arrowshow2 4s ease;
}
#slide-btn4:checked ~ .location1-slide .right {
  display: none;
}
#slide-btn4:checked ~ .location1-slide .location1-slide-greeting1 {
  animation: greetinghide1 1.5s 2.5s ease;
}
#slide-btn4:checked ~ .location1-slide .location1-slide-greeting2 {
  animation: greetinghide2 1.5s 2.5s ease;
}

/* 애니메이션 */
@keyframes arrowshow {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes arrowshow2 {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes answershow {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 70%;
  }
}
@keyframes answerhide1 {
  0% {
    opacity: 100%;
  }
  60% {
    left: calc(46vw - 30px);
    opacity: 100%;
  }
  100% {
    left: calc(46vw - 30px);
    opacity: 0%;
  }
}
@keyframes answerhide2 {
  0% {
    opacity: 100%;
  }
  60% {
    right: calc(46vw - 30px);
    opacity: 100%;
  }
  100% {
    right: calc(46vw - 30px);
    opacity: 0%;
  }
}
@keyframes polarbearhide {
  0% {
    opacity: 100%;
  }
  49.9% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes polarbearshow {
  0% {
    opacity: 0%;
  }
  49.9% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
    transform: translate(0vw);
  }
  65% {
    opacity: 100%;
    transform: translate(-27vw);
  }
  100% {
    opacity: 100%;
    transform: translate(-27vw);
  }
}